.navBarGrid
    display: grid
    grid-template-columns: repeat(4, 2fr)
    text-align: center
    margin: 20px 5px
    background-color: #451253
    border-radius: 5px
    button
        color: #b7acac
.containerCardsGrid
    display: grid
    margin: 20px 5px
    grid-template-columns: repeat(3, 1fr)
    grid-auto-rows: auto
    gap: 50px
    justify-items: center
    .cardGrid
        border: 1px solid black
        display: grid
        border-radius: 5px
        max-width: 350px
        grid-template-columns: repeat(2,1fr)
        grid-template-rows: 4fr repeat(4, minmax(100px 400px))
        grid-template-areas: "image image" "title title" "description description" "price gender" "buy rent"
        img
            grid-area: image
            width: 100%
            max-width: 300px
        .title
            grid-area: title
            font-weight: 700
        .description
            grid-area: description
            font-weight: 500
        .price
            grid-area: price
            font-weight: 700
        .gender
            grid-area: gender
            font-weight: 700
        .buy
            grid-area: buy
            cursor: pointer
            background-color: #5ce66e
            img
                width: 40px
        .rent
            grid-area: rent
            cursor: pointer
            background-color: #451253
            img
                width: 40px
